<div class="row">
  <div class="large-12 columns">
    <h4>Backstage</h4>
  </div>
<hr />
<div class="row">
  <div class="large-12 columns">
    <a href="#" style="width: 100%" class="button large disabled">Lookup User</a>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <a href="/backstage/logs/" style="width: 100%" class="button large">View Logs</a>
  </div>
  <div class="large-4 columns">
    <a href="/backstage/warnings/" style="width: 100%" class="button large">View Warnings</a>
  </div>
  <div class="large-4 columns">
    <a href="/backstage/flags/" style="width: 100%" class="button large">View Flags</a>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
    <a href="/backstage/warn/" style="width: 100%" class="button large success">Create Warning</a>
  </div>
  <div class="large-6 columns">
    <a href="/backstage/flag/" style="width: 100%" class="button large alert">Create Flag</a>
  </div>
</div>