<div class="row">
  <div class="large-12 columns">
    <h4>Add a Flag</h4>
  </div>
  <hr />
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="alert-box alert">
      Once added, a flag cannot be removed by your interaction alone. If possible, try to send a warning instead.
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <form action="/backstage/flag/apply/" method="post">
      <fieldset>
        <legend>Flag Creation</legend>
        <div class="row">
          <div class="large-12 columns">
            <label>Username:</label>
            <input type="text" name="username" placeholder="icetail98"><%= name %></input>
            <label>Administrative Note (visible only to admins) (supports <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>):</label>
            <textarea name="admin_note" placeholder="" style="height: 100px"><%= message %></textarea>
            <input type="submit" class="button alert" style="margin-left: auto; margin-right: auto; float: right" value="Add Flag">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>