      <div class="row">
        <p style="text-align: right;"><small>A ShankShock project.</small></p>
      </div>
        <script>
          document.write('<script src=/js/vendor/'
            + ('__proto__' in {} ? 'zepto' : 'jquery')
            + '.js><\/script>');
          $(document).foundation();
        </script>
    </body>
</html>