      <div class="row">
        <div class="large-12 columns">
          <p style="text-align: right;"><small>Lovingly built with <a href="http://ruby-lang.org/">Ruby</a>, <a href='http://sinatrarb.com/'>Sinatra</a> and <a href='http://heroku.com/'>Heroku</a>. <a href="http://github.com/nicatronTg/shinda-sekai-sensen/commits"><%= ENV['HEROKU_RELEASE_NAME'] %></a>.</small></p>
        </div>
      </div>
        <script>
          document.write('<script src=/js/vendor/'
            + ('__proto__' in {} ? 'zepto' : 'jquery')
            + '.js><\/script>');
          $(document).foundation();
        </script>
    </body>
</html>