<div class="row">
  <div class="large-12 columns">
    <h4>Import Flags</h4>
  </div>
  <hr />
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="alert-box alert">
      This is dangerous!
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <form action="/backstage/flag/import/" method="post">
      <fieldset>
        <legend>Flag Import</legend>
        <div class="row">
          <div class="large-12 columns">
            <label>CSV:</label>
            <textarea name="csv" placeholder="Username, Reason, Banner" style="height: 1000px"></textarea>
            <input type="submit" class="button alert" style="margin-left: auto; margin-right: auto; float: right" value="Add Flags">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>