<div class="row">
  <div class="large-12 columns">
    <img src="img/logo.png" style="margin-right: auto; margin-left: auto; display: block"/>
  </div>
</div>
<div class="row panel">
  <div class="large-9 columns">
    <p>Did you get a code number when you joined the server? Enter it here.</p>
  </div>
  <div class="large-3 columns">
    <form action="/login/pin/" method="post">
      <div class="row">
        <div class="row collapse">
          <div class="large-8 columns">
            <input type="text" placeholder="1234" name="pin">
          </div>
          <div class="large-4 columns">
            <input type="submit" class="button prefix" value="Let's go!">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>