<div class="row">
  <div class="large-12 columns">
    <h2>/backstage/logs/</h2>
    <h5 class="subheader">Showing all actions from all admins on all pages.</h5>
  </div>
  <hr />
</div>
<div class="row">
  <div class="large-12 columns">
    <table style="margin-left: auto; margin-right: auto">
      <thead>
        <tr>
          <th style="width: 20%">Time</th>
          <th style="width: 80%">Message</th>
        </tr>
      </thead>
      <tbody>
        <% log_dump.each do |row| %>
        <tr>
          <td><%= Time.at(row['time'].to_i).strftime('%c') %></td>
          <td><%= row['message'] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <p style="text-align: center"><small>There are <%= log_dump.count %> entries on this page.</small></p>
  </div>
</div>