<div class="row">
  <div class="large-12 columns">
    <h4>Lookup User</h4>
  </div>
  <hr />
</div>
<div class="row">
  <div class="large-12 columns">
    <form method="post" action="/backstage/user/">
      <fieldset>
        <label>Username / Steam64:</label>
        <input type="text" placeholder="icetail98" name="user">
        <button type="submit" class="button" style="margin-left: auto; margin-right: auto; float: right">Search</button>
      </fieldset>
    </form>
  </div>
</div>