<div class="row">
  <div class="large-12 columns">
    <h2>Send a Warning</h2>
  </div>
  <hr />
</div>
<div class="row">
  <div class="large-12 columns">
    <form action="/backstage/warn/preview" method="post">
      <fieldset>
        <legend>Warning Creation</legend>
        <div class="row">
          <div class="large-12 columns">
            <label>Username:</label>
            <input type="text" name="username" placeholder="icetail98"><%= target_username %></input>
            <label>Message to send (supports <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>):</label>
            <textarea name="message" placeholder="" style="height: 300px"><%= message %></textarea>
            <label>Administrative Note (visible only to admins) (supports <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>):</label>
            <textarea name="admin_note" placeholder="" style="height: 100px"><%= note %></textarea>
            <input type="submit" class="button" style="margin-left: auto; margin-right: auto; float: right" value="Preview Warning">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div> 