<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Shinda Sekai Sensen, the ShankShock warning system.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ShankShock / Sekai Sensen</title>

        <script src="<%= url('js/vendor/custom.modernizr.js') %>"></script>
        <link rel="stylesheet" href="<%= url('css/foundation.css') %>">
        <link rel="author" href="humans.txt">
    </head>
    <body>
        <nav class="top-bar">
          <ul class="title-area">
            <li class="name">
              <h1><a href="/">ShankShock / Sekai Sensen</a></h1>
            </li>
          </ul>
        </nav>