<div class="row">
  <div class="large-12 columns">
    <h4>Danger Ahead!</h4>
    <!--<h5 class="subheader">A ShankShock Administrator has issued a warning regarding your ShankShock Account.
      Disregarding or ignoring this warning is highly ill-advised. Doing so will result in losing access
      to all services permanently.</h5>-->
  </div>
<hr />
</div>
<div class="row">
  <div class="large-3 columns">
    <div class="panel">
      <h6>Admin Details</h6>
      <ul class="square">
        <li>Name: nicatronTg</li>
        <li>Time: 7:02am</li>
      </ul>
    </div>
    <hr />
    <div class="panel">
      <h6>Your Details</h6>
      <ul class="square">
        <li>Name: Rawr</li>
        <li>Access Time: 7:02am</li>
        <li>Dicks: All of them</li>
      </ul>
    </div>
    <hr />
    <div class="panel">
      <h6>Rule Violations</h6>
      <ul class="square">
        <li>Being an asshole.</li>
        <li>Being a dick.</li>
      </ul>
    </div>
  </div>
  <div class="large-9 columns">
    <div class="panel callout">
      <h3>Dear SoAndSo,</h3>
      <p>Your account has severe problems. Your account has severe problems. Your account has severe problems. Your account has severe problems. Your account has severe problems. Your account has severe problems. Your account has severe problems. Your account has severe problems. Your account has severe problems. Your account has severe problems. Your account has severe problems. Your account has severe problems. Your account has severe problems. Your account has severe problems. Your account has severe problems. Your account has severe problems. Your account has severe problems. Your account has severe problems.</p>
      <p style="text-align: right"><h4 style="text-align: right">Sincerely Yours, Shank</h4></p>
    </div>
    <p style="text-align: right"><a href="/warning/ack" class="button alert large">Acknowledge and Continue</a></p>
  </div>
</div>