<div class="row">
  <div class="large-12 columns">
    <h1>Danger Ahead!</h1>
    <h5 class="subheader">A ShankShock Administrator has issued a warning regarding your ShankShock Account.
      Disregarding or ignoring this warning is highly ill-advised. Doing so will result in losing access
      to all services permanently.</h5>
  </div>
</div>