<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Shinda Sekai Sensen, the ShankShock warning system.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ShankShock / Sekai Sensen</title>

        <script src="js/vendor/custom.modernizr.js"></script>
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="author" href="humans.txt">
    </head>
    <body>
        <div class="row">
          <div class="large-12 columns">
            <img src="img/logo.png" />
            <hr />
          </div>
        </div>
        <div class="row">
          
        </div>
        <script>
          document.write('<script src=/js/vendor/'
            + ('__proto__' in {} ? 'zepto' : 'jquery')
            + '.js><\/script>');
          $(document).foundation();
        </script>
    </body>
</html>